$c-sidebar-bg: #f7f9ff;
// $c-sidebar-bg: #081F3A;
$c-default-bg: #edf2f7;
$c-textbox-bg: #f0f6f8;
$c-label-bg: rgba(0, 81, 255, 0.075);

$c-dark-100: rgba(2, 17, 69, 1);
$c-dark-75: rgba(2, 17, 69, 0.75);
$c-dark-60: rgba(2, 17, 69, 0.6);
$c-dark-50: rgba(2, 17, 69, 0.5);
$c-dark-25: rgba(2, 17, 69, 0.25);
$c-dark-10: rgba(2, 17, 69, 0.1);
$c-dark-5: rgba(2, 17, 69, 0.05);
$c-dark-3: rgba(2, 17, 69, 0.03);

// $c-dark-100: rgba(8, 31, 58,1);
// $c-dark-75: rgba(8, 31, 58,.75);
// $c-dark-50: rgba(8, 31, 58,.5);
// $c-dark-25: rgba(8, 31, 58,.25);
// $c-dark-10: rgba(8, 31, 58,.1);
// $c-dark-5: rgba(8, 31, 58,.05);
// $c-dark-3: rgba(8, 31, 58,.03);

$c-primary: rgba(17, 181, 228, 1);
$c-primary-75: rgba(17, 181, 228, 0.75);
// $c-primary: #0265FC;
$c-secondary: #1481ba;
$c-alert: #ea3788;
$c-online: #00cb51;
$c-offline: #adadad;

$c-gray-100: #f9fcff;
$c-gray-200: #e7f2fa;
$c-gray-300: #d3e3ed;
$c-gray-400: #97b6ce;
$c-gray-500: #6487a6;
$c-gray-600: #3a5b79;
$c-gray-700: #203b54;
$c-gray-800: #13253e;
$c-gray-900: #0f1c2c;

$c-primary-100: #e9fbff;
$c-primary-200: #b6f4ff;
$c-primary-300: #82e9fe;
$c-primary-400: #18d9fe;
$c-primary-500: #17aafd;
$c-primary-600: #1782fc;
$c-primary-700: #1766fc;
$c-primary-800: #0037d1;
$c-primary-900: #0618bf;

$c-alt-100: #feeeef;
$c-alt-200: #fde3e4;
$c-alt-300: #fccecf;
$c-alt-400: #faadb2;
$c-alt-500: #f7818d;
$c-alt-600: #eb4a63;
$c-alt-700: #c71748;
$c-alt-800: #a20035;
$c-alt-900: #7d0036;
