.viewProfile {
  position: relative;
  width: 100%;

  .viewProfile--userInfo {
    @include mobile {
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(flex-start);
      text-align: center;
    }
  }


  .inner {
    width: 184px;
    margin-right: 36px;
    @include mobile {
      margin-right: 0;
    }


    .img {
      @include border-radius(1000px);
      background-color: transparent;
      box-sizing: content-box;
      overflow: hidden;
      border: 1px solid $c-gray-400;
      box-shadow: 0 2px 24px 0 rgba(35, 61, 77, 0.15);
      height: 184px;
      width: 184px;
    }

    button.chat {
      @include border-radius(4px);
      height: 36px;
      width: 100%;
      padding-left: 12px;
      padding-right: 12px;
      margin-top: 16px;
      
      font-weight: 600;
      background-color: $c-gray-700;
      color: white;
    }

    .viewProfile-socials {
      @include flex-wrap(wrap);
      > div {
        @include transition(all, $transition-default);
        @include border-radius(100px);
        height: 36px;
        width: 36px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: $c-gray-200;
        > svg {
          height: 16px;
          width: 16px;
          fill: $c-gray-500;
        }
        &:hover {
          cursor: pointer;
          background-color: $c-gray-300;
          > svg {
            fill: $c-gray-600;
          }
        }
      }
    }
  }
  @include mobile {
    padding-left: 16px;
    padding-right: 16px;

    button.chat {
      width: calc(100% - 32px);
      margin-left: 16px;
      margin-right: 16px;
    }
    .viewProfile-socials {
      width: calc(100% - 32px);
      margin-left: 16px;
      margin-right: 16px;
      @include justify-content(center);
    }
  }
  .viewProfile--right {
    .top {
      color: $c-gray-700;
    }
    .content {
      margin-top: 8px;
      > div {
        margin-top: 28px;
        width: 100%;
        > label {
          font-size: 14px;
          font-weight: 700;
          color: $c-gray-700;
        }
        > p {
          font-size: 16px;
          color: $c-gray-600;
        }
      }
    }
    @include mobile {
      margin-top: 8px;
      min-height: 0;
      @include align-items(center);
    }
  }
  .viewProfile-postsContainer {
    margin-top: 88px;
    padding-bottom: 16px;

    width: 100%;
    @include mobile {
      margin-top: 36px;
    }
    .divider {
      height: 2px;
      background-color: $c-gray-300;
    }
    .name {
      font-weight: 700;
      font-size: 28px;
      color: $c-gray-700;
      margin-top: 48px;
      margin-bottom: 28px;
      @include mobile {
        font-size: 20px;
      }
    }
    > div {
      @include mobile {
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
      }
    }
  }
  .viewProfile--name {
    font-size: 36px;
    font-weight: 700;
    // color: white;
    line-height: 36px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
  }
  .viewProfile--status {
    font-weight: 600;
    color: $c-gray-400;
  }
}
